{% extends "admin/layout.njk" %}

{% block content %}
<form class="card" method="POST" action="/admin/recipes">
    <section class="views">
        <div class="banner-header">
            <div>
                <h1>Criando receita</h1>
            </div>
            <div>
                <button class="btn-primary" type="submit">Editar receita</button>
            </div>
        </div>
            
            {% include 'admin/fields.njk' %}

    </section>
</form>
{% endblock content %}

