<div class="item">
    <div>Imagem da receitaL</div>
        <div>
            <input type="url" name="avatar_url" placeholder="http://" value="{{ admin.image }}">
        </div>
    </div>

    <div class="item">
        <div>Título da receita</div>
        <div>
            <input type="text" name="title" placeholder="Nome da receita" value="{{ admin.title }}">
        </div>
    </div>

    <div class="item">
        <div>Ingredientes</div>
        <div>
            <input type="text" name="ingredients" value="{{ admin.ingredients }}">
        </div>
    </div>

    <div class="item">
        <div>Modo de preparo</div>
        <div>
            <input type="text" name="preparation" value="{{ admin.preparation }}">
        </div>
    </div>

    <div class="item">
        <div>Informações adicionais</div>
        <div>
            <textarea name="information" value="{{ admin.preparation }}"></textarea>
        </div>
    </div>
</div>
