{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - Receitas</title>
{% endblock head %}

{% block content %}
<section class="views">
    <div class="cards">
        <div class="card">
            <img src="/assets/burger.png" alt="Hamburguer">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
        </div>

        <div class="card">
            <img src="/assets/pizza.png" alt="Pizza">
            <h3>Pizza 4 estações</h3>
            <p>por Fabiana Melo</p>
        </div>
        <div class="card">
            <img src="/assets/espaguete.png" alt="Espaguete">
            <h3>Espaguete de alho</h3>
            <p>por Júlia Kinoto</p>
        </div>
        <div class="card">
            <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese">
            <h3>Lasanha mac n' cheese</h3>
            <p>por Juliano Vieira</p>
        </div>
        <div class="card">
            <img src="/assets/doce.png" alt="Doce">
            <h3>Docinhos pão-do-céu</h3>
            <p>por Ricardo Golvea</p>
        </div>
        <div class="card">
            <img src="/assets/asinhas.png" alt="Asinhas de frango barbecue">
            <h3>Asinhas de frango barbecue</h3>
            <p>por Vania Steroski</p>
        </div>

        <div class="card">
            <img src="/assets/burger.png" alt="Hamburguer">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
        </div>

        <div class="card">
            <img src="/assets/pizza.png" alt="Pizza">
            <h3>Pizza 4 estações</h3>
            <p>por Fabiana Melo</p>
        </div>
        <div class="card">
            <img src="/assets/espaguete.png" alt="Espaguete">
            <h3>Espaguete de alho</h3>
            <p>por Júlia Kinoto</p>
        </div>
        <div class="card">
            <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese">
            <h3>Lasanha mac n' cheese</h3>
            <p>por Juliano Vieira</p>
        </div>
        <div class="card">
            <img src="/assets/doce.png" alt="Doce">
            <h3>Docinhos pão-do-céu</h3>
            <p>por Ricardo Golvea</p>
        </div>
        <div class="card">
            <img src="/assets/asinhas.png" alt="Asinhas de frango barbecue">
            <h3>Asinhas de frango barbecue</h3>
            <p>por Vania Steroski</p>
        </div>
    </div>
</section>
{% endblock content %}



