{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - Receitas</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
{% endblock head %}

{% block content %}
<section class="views">
    
<div class="card">
        

<img src="{{item.image}}" alt="">
<h3>{{item.title}}</h3>
<p>{{item.author}}</p>

<h4>Ingredientes</h4>
<p>{{item.ingredients}}</p>

<h4>Preparação</h4>
<p>{{item.preparation}}</p>

</div>

    <script src="scripts.js"></script>

{% endblock content %}



