{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - Receitas</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
{% endblock head %}

{% block content %}
<section class="views">
    <div class="cards">
        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <img src="{{item.img}}" alt="Imagem de {{item.title}}">
            <h3>{{item.title}}</h3>
            <p>por {{item.autor}}</p>
        </div>
        {% endfor %}

        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <img src="{{item.img}}" alt="{{item.title}}">
            <h3>{{item.title}}</h3>
            <p>por {{item.autor}}</p>
        </div>
        {% endfor %}
    </div>
</section>

<div class="modal-overlay">
        <div class="modal">

            <div class="modal-content">
                {# <div class="img-modal"> #}
                <img src="" alt="">
                {# </div> #}

                <h3></h3>
                <p></p>

            </div>
                
                <a class="close-modal">
                Fechar modal</i>
                </a>
        </div>
</div>

{# <div class="modal-overlay">
        <div class="modal">

            <div class="modal-content">
                <div class="img-modal" style="background: url('/assets/asinhas.png') no-repeat center center / cover">
                </div>
                        <h1>Asinhas de frango ao barbecue</h1>
                        <p>por Vania Steroski</p>
            </div>
                <a class="close-modal">
                Fechar modal</i>
                </a>
        </div>
</div> #}

    <script src="scripts.js"></script>

{% endblock content %}



