{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - Receitas</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<link rel="stylesheet" href="/recipes.css">
{% endblock head %}

{% block content %}
<section class="views">
    <div class="cards">
        {% for item in items %}
        <a href="/recipes/{{ item.id }}" class="card" id="{{item.id}}">
            <img src="{{item.image}}" alt="{{item.title}}">
            <h3>{{item.title}}</h3>
            <p>por {{item.author}}</p>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock content %}



