<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style-admin.css">
    {% block head %}
    <title>Foodfy - Admin</title>
    {% endblock head %}
</head>
<body>
    <div class="container">
        <div class="content">
            <header>
                <div>
                    <a href="/admin/recipes">
                    <img src="/assets/logo-invert.png" alt="Logo Foodfy">
                    </a>
                    <nav class="navbar">
                        <a href="/admin/recipes">Receitas</a>
                        <a href="/admin/chefs">Chefs</a>
                    </nav>
                </div>
            </header>

            {% block content %}
            {% endblock %}

            {% block recipes %}
            {% endblock recipes %}
        </div>
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </div>

    <script src="/scripts.js"></script>
    <script>
        const currentPage = location.pathname
        const menuItems = document.querySelectorAll('.navbar a')

        for (item of menuItems) {
            if(currentPage.includes(item.getAttribute('href'))) {
                item.classList.add('active')
            }
        }
    </script>
</body>
</html>